/* ADD YOUR CUSTOM CSS TO THIS FILE */

/* all site */
.topnavbar {
	background-color: #D0DCED;
	max-width: none!important;
}

body {
	background-color: #FBF5EF;
}


/* text styling */
h1 {
	color:#577399;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	font-size: 4em;
/*	-webkit-text-fill-color: #FBF5EF;*/
/*	-webkit-text-stroke: 1px #5C5452;*/
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	color: #86AC8A;
	text-transform: capitalize;
}

h3 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #86AC8A;
	text-transform: capitalize;
}

h4 {
	font-family: 'Crimson Pro', serif;
	font-size: 1.5em;
	font-weight: 300;
	text-transform: capitalize;
}

p {
	font-family: 'Crimson Pro', serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.7em;
}

ul {
	list-style: none;
	font-family: 'Crimson Pro', serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.7em;
	padding-left: 0;
}

.btn-primary {
	font-family: 'Crimson Pro', serif;
	border-color: #86AC8A;
	border-width: 1px;
	background-color:rgba(0, 0, 0, 0.0);
	color: #86AC8A;
}

.btn-primary:hover {
	font-family: 'Crimson Pro', serif;
	border-color: #86AC8A;
	border-width: 1px;
	background-color: #86AC8A ;
	color: #fff;
}
/* end text styling */


.nalogo, a.nalogo {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	color: #577399;
}

footer {
	margin-top: 6em;
	margin-bottom: 40px;
}

.lcfooter {
	margin-top: 40px;
}


/*nav*/

.nav-link, .nav-pills{
	color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #D0DCED;
	color: #577399!important;
}

@media screen and (min-width: 576px) {
	.nalogo {
	padding-left: 50px;
}
}

ul.dropdown-menu.show {
	background-color: #577399;
}

a.dropdown-item {
	color: #FBF5EF;
}

a.dropdown-item:hover {
	background-color: #D0DCED;
	color: #000;
}


/* work/home page */

.headerbanner{
	height: 350px;
	align-content: center;
}

.bluestonelogo{
	margin-top: 40px;
}

.marantologo {
	margin-top: 50px;
}

.hostlogo {
	margin-top: 10px;
}

.sclogo {
	margin-top: 60px;
}

/* hover overaly */
.hoverwork1, .hoverwork2 {
  position: relative;
/*  background-color: #577399;*/
}

/*.image {
  display: block;
  width: 100%;
  height: auto;
}*/

.overlay {
  position: absolute;
  top: 0;
/*  bottom: 0;*/
  left: 0;
  right: 0;
  height: 250px;
  width: 410px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(87, 115, 153, .8);
  margin: 0 auto;
  vertical-align: middle!important;
  border-radius: 20px;
}

.hoverwork1:hover .overlay, .hoverwork2:hover .overlay {
  opacity: 1;
}

.hovertext, .text {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	line-height: 1.2em;
	text-decoration: none;
  color: white!important;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/* end hover overlay  */


/* individual work pages */
.skills {
	margin-left: 50px;
	margin-right: 50px;
}

@media screen and (max-width: 576px) {
	.skills {
	margin-left: 0;
}
}

h4.abticonsub {
	font-size: 1em;
	padding-top: 20px;
}

h3.bsviscom {
	padding-left: 40px;
}

.headerbannerresume {
	padding-top: 125px;
	padding-bottom: 125px;
}

a.resumepdf {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	color: #86AC8A;
	text-transform: capitalize;
	margin-top: -15px;
}

h4.experience {
	font-family: 'Crimson Pro', serif;
	font-size: 1em;
	font-weight: 500;
	text-transform: capitalize;
	font-style: italic;
}

p.experiencep {
	font-family: 'Crimson Pro', serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2em!important;
}

.disappear {
	color: #FBF5EF!important;
}

.edupadding {
	margin-right: -50px;
}



